@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--font-geist-sans), sans-serif;
}
